@import url('https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Be+Vietnam+Pro:wght@500&family=Caveat:wght@700&family=Dancing+Script:wght@700&family=Josefin+Sans:ital@1&family=Nunito:ital,wght@0,700;1,200;1,300;1,400;1,500;1,600&family=Poppins&family=Spline+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
	box-sizing: border-box;
	font-size: 25px;
}

a {
	text-decoration: none;
}

/* Header */
#header {
	position: fixed;
	z-index: 10000000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	font-family: 'Poppins', sans-serif;
}

#header .container {
	align-items: center;
	justify-content: center;
	display: flex;
}

.brand h1 {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: white;
	font-family: 'Poppins', sans-serif;
    padding: 0 20px;
}

.brand h1 span {
    padding: 0 10px;
	font-size: 1.5rem;
	font-family: 'Poppins', sans-serif;
	color: rgb(236, 236, 67);
}

#header .header {
	min-height: 8vh;
	background-color: rgba(0, 0, 0, 0.534);
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(22, 22, 22);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 2.2rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.041);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
	color: rgb(221, 221, 36);
}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}

#header .hamburger .bar::before {
	bottom: 8px;
}

#header .hamburger.active .bar::before {
	bottom: 0;
}

#header .hamburger.active .bar::after {
	top: 0;
}  

@media only screen and (max-width: 1200px) {
	.brand h1 {
		padding: 0 20px;
	} 
	.brand h1 span {
		padding: 0 10px;
	}
}

@media only screen and (min-width: 1200px) {
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
        font-family: 'Poppins', sans-serif;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 0.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
}

@media only screen and (max-width: 675px) and (min-width: 0){
	#header .nav-list ul {
		list-style: none;
		position: absolute;
		background-color: rgb(22, 22, 22);
		width: 100vw;
		height: 100vh;
		left: 2000px;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 1;
		overflow-x: hidden;
		transition: 0.5s ease left;
	}
}
/* End Header */

/* Home */
#home {
    background-image: url(./img/Background_files/1761203.jpg); 
	background-position: top center;
    background-size: cover;
	position: relative;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

#home .container {
	min-height: 100vh;
	width: 100%;	
	display: flex;
	align-items: center;
	justify-content: center;
    top: -50px;
    position: absolute;
}

#home .hime {
    display: block;
    box-sizing: border-box;
}

#home .hime h2 {
    text-align: center;
    position: relative;
    top: 3px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
}

#home h3 {
	text-align: center;
	align-items: center;
	display: flex;
	width: fit-content;
	color: rgba(255, 255, 255, 0.973);
    top: 630px;
    margin: 0;
    font-size: 23px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
}

#home .hime p {
    text-align: center;
    position: relative;
    top: -14px;
    font-family: 'Poppins', sans-serif;
	font-size: 1.8rem;
	color: #fff;
}

.btn {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 25px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: black;
	background-color: rgb(235, 231, 231);
	border: none;
    top: 559px;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
	outline: none;
    font-size: 12px;
}

.btn:hover {
	box-shadow: 0px 10px 15px gray;    
	color: black;
    font-family: 'Poppins', sans-serif;
}
/* End Home */