@import url('https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Be+Vietnam+Pro:wght@500&family=Caveat:wght@700&family=Dancing+Script:wght@700&family=Josefin+Sans:ital@1&family=Nunito:ital,wght@0,700;1,200;1,300;1,400;1,500;1,600&family=Poppins&family=Spline+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
	box-sizing: border-box;
	font-size: 25px;
}

.body {
    font-family: 'Poppins', sans-serif; 
}

a {
	text-decoration: none;
}

/* Header */
#header {
	position: fixed;
	z-index: 100000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	font-family: 'Poppins', sans-serif;
}

#header .container {
	align-items: center;
	justify-content: center;
	display: flex;
}

.brand h1 {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: white;
	font-family: 'Poppins', sans-serif;
    padding: 0 20px;
}

.brand h1 span {
    padding: 0 10px;
	font-size: 1.5rem;
	font-family: 'Poppins', sans-serif;
	color: rgb(236, 236, 67);
}

#header .header {
	min-height: 8vh;
	background-color: rgba(0, 0, 0, 0.534);
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(22, 22, 22);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
    color: #fff;
    text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.041);
	font-size: 11rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
	color: rgb(221, 221, 36);
}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}

#header .hamburger .bar::before {
	bottom: 8px;
}

#header .hamburger.active .bar::before {
	bottom: 0;
}

#header .hamburger.active .bar::after {
	top: 0;
}  

@media only screen and (max-width: 1200px) {
	.brand h1 {
		padding: 0 10px;
	} 
	.brand h1 span {
		padding: 0 10px;
	}	
}

@media only screen and (min-width: 1200px) {
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
        font-family: 'Poppins', sans-serif;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 0.5rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	.button a {
		height: 50px;
	}
	
}

@media only screen and (max-width: 675px) and (min-width: 0){
	#header .nav-list ul {
		list-style: none;
		position: absolute;
		background-color: rgb(22, 22, 22);
		width: 100vw;
		height: 100vh;
		left: 2000px;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 1;
		overflow-x: hidden;
		transition: 0.5s ease left;
	}
}
/* End Header */

/* Home */
#home {
    background-image: url(./img/Background_files/1761203.jpg); 
	background-position: top center;
    background-size: cover;
	position: relative;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

#home .container {
	min-height: 100vh;
	width: 100%;	
	display: flex;
	align-items: center;
	justify-content: center;
    top: -50px;
    position: absolute;
}

#home .hime {
    display: block;
    box-sizing: border-box;
}

#home .hime h2 {
    text-align: center;
    position: relative;
    top: 3px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
}

#home h3 {
	text-align: center;
	align-items: center;
	display: flex;
	width: fit-content;
	color: rgba(255, 255, 255, 0.973);
    top: 630px;
    margin: 0;
    font-size: 23px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
}

#home .hime p {
    text-align: center;
    position: relative;
    top: -14px;
    font-family: 'Poppins', sans-serif;
	font-size: 1.8rem;
	color: #fff;
}

.btn {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 25px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: black;
	background-color: rgb(235, 231, 231);
	border: none;
    top: 559px;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
	outline: none;
    font-size: 12px;
}

.btn:hover {
	box-shadow: 0px 10px 15px gray;    
	color: black;
    font-family: 'Poppins', sans-serif;
}
/* End Home */

/* About */
#about {
    background-image: url(./img/Background_files/2632464.jpg); 
	background-position: top center;
    background-size: cover;
	position: relative;
    z-index: 1;
    min-height: 50vh;
    width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#about::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(48, 45, 45);
	opacity: 0.98;
	z-index: -1;
}

#about .container {
	min-height: 20vh;
	width: 100%;	
	display: flex;
	align-items: center;
	justify-content: center;
    color: #fff;
    position: absolute;
}

#about .aboit {
    display: block;
    box-sizing: border-box;
    position: absolute;
    padding: 0px 400px;
    font-family: 'Poppins', sans-serif;
}

#about h2 {
    text-align: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    top: -30px;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

#about p {
    text-align: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    top: 15px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/* End About */

/* Gallery */
.image-gallery {
	width: 100%;
	max-width: 950px;
	margin: 0 auto;
	padding: 50px 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 250px;
	grid-auto-flow: dense;
	grid-gap: 20px;
}

.image-box {
	width: 100%;
	border-radius: 20px;
}
  
.image-gallery .image-box {
	position: relative;
	background-color: #d7d7d8;
	overflow: hidden;
}
  
.image-gallery .image-box:nth-child(7n + 1) {
	grid-column: span 2;
	grid-row: span 2;
}
  
.image-gallery .image-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.5s ease;
}
  
.image-gallery .image-box:hover img {
	transform: scale(1.1);
}

.image-gallery .image-box .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fafafaf2;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.5s ease;
	z-index: 1;
}

.image-gallery .image-box:hover .overlay {
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	opacity: 1; 
}

.image-gallery .image-box .details {
	text-align: center;
}
  
.image-gallery .image-box .details .title {
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 600;
	position: relative;
	top: -5px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}
  
.image-gallery .image-box .details .category {
	font-size: 18px;
	font-weight: 400;
	position: relative;
	bottom: -5px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}
  
.image-gallery .image-box:hover .details .title {
	top: 0px;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s 0.2s ease;
}
  
.image-gallery .image-box:hover .details .category {
	bottom: 0;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s 0.2s ease;
}
  
.image-gallery .image-box .details .title a,
.image-gallery .image-box .details .category a {
	color: #222222;
	text-decoration: none;
}
  
@media (max-width: 768px) {
	.image-gallery {
	  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	  grid-auto-rows: 250px;
	}
  
.image-gallery .image-box:nth-child(7n + 1) {
	  grid-column: unset;
	  grid-row: unset;
	}
}  
/* End Gallery */

/* Reviews */
#reviews {
	background-image: url(img/Background_files/2402088.jpg); 
	background-position: top center;
    background-size: cover;
	position: relative;
	min-height: 80vh;
	width: 100%;
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
	z-index: 1;
	align-items: center;
	justify-content: center;
}

#reviews::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.8;
	z-index: -1;
}

#reviews .heading {
	display: inline-block;
	position: relative;
	color: rgb(236, 236, 67);
	font-size: 4vw;
	padding: 60px;
	width: 100%;
	text-align: center;
	font-weight: 800;
}

#reviews .heading:before{
	position: absolute;
	content: '';
	width: 25%;
	height: 7px;
	left: 50%;
	transform: translate(-50%);
	bottom: 25%;
	background: #393939;
}

#reviews .heading b {
	color: #fff;
	font-size: 4vw;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.wrapper .container {
	position: relative;
	width: 350px;
	color: #fff;
	background: rgb(29, 28, 28);
	margin: 40px 10px;
	padding: 30px 20px;
	border-radius: 3px;
	transition: 0.3s ease;
}

.wrapper .container .profile {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -10%;
	width: 100%;
	display: block;
}

.wrapper .container .profile .imgBox {
	position: relative;
	height: 100px;
	width: 100px;
	margin: auto;
	border: 8px solid gray;
	border-radius: 50%;
	overflow: hidden;
}

.wrapper .container .profile .imgBox img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	transition: 0.3s ease;
}

.wrapper .container .profile .imgBox:hover img {
	filter: saturate(140%);
	transform: translate(0.20);
}

.wrapper .container .profile h2 {
	padding: 5px 0;
	text-transform: capitalize;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}

.wrapper .container p {
	margin-top: 50px;
	color: #fff;
	padding: 0 8px;
	font-size: 15px;
	opacity: 0.8;
}

.wrapper .container .left {
	font-size: 30px;
	display: block;
	text-align: left;
	color: rgb(236, 236, 67);
}

.wrapper .container .right {
	font-size: 30px;
	display: block;
	text-align: right;
	color: rgb(236, 236, 67);
}
/* End Reviews */